.box{
    background-color: red;
    height: 100px;
    width: 100px;



}
.red:hover{
    background-color: darkgray;
    display: flex;
    border-radius: 50%;
    transition: 2s;
}
.mein{
    background-color:thistle;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;



